@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <h1>Welcome to Our Library Management System Page</h1>
        <p>Get All the educative tool to make you a better person </p>
        <button class="btn btn-outline-success btn-block"><a asp-controller="home" asp-action="books">Check Catalogue</a> </button>
    </div>
    <div class="row mt-5 text-center">
        <div class="col-12">
            <img src="~/images/library2.png" class="img-fluid"  style="border-radius: 7px;"/>
            
        </div>
    </div>
</div>
